@font-face {
  font-family: Title;
  src: url(fonts/28days.ttf); }

html, body, div, p {
  margin: 0px;
  padding: 0px; }

paper-header-panel {
  z-index: 3;
  position: absolute;
  width: 100%; }
  paper-header-panel paper-toolbar {
    background: transparent !important; }
    paper-header-panel paper-toolbar .title {
      color: black;
      margin-left: 10px !important;
      font-family: "Roboto"; }
    paper-header-panel paper-toolbar paper-icon-button {
      color: black;
      position: relative;
      width: 50px;
      height: 50px; }
    paper-header-panel paper-toolbar #topBar {
      background-color: rgba(255, 255, 255, 0.74) !important; }
      paper-header-panel paper-toolbar #topBar > iron-icon {
        color: black;
        margin-left: 25px; }

#mainContent {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  display: block;
  background-color: black;
  overflow: hidden; }
  #mainContent video {
    position: absolute;
    top: 0px;
    z-index: 1;
    height: 100%; }
  #mainContent #shadow {
    position: absolute;
    display: block;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.5;
    background-color: black; }
  #mainContent #indexCard {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    height: 25%;
    width: 80%;
    z-index: 5;
    background-color: transparent;
    font-family: "Title";
    color: white;
    max-width: 1250px; }
    @media (max-width: 1260px) {
      #mainContent #indexCard {
        text-align: center; } }
    #mainContent #indexCard div {
      display: inline-block;
      vertical-align: bottom; }
      @media (max-width: 1260px) {
        #mainContent #indexCard div {
          display: block; } }
      #mainContent #indexCard div#mainTitle {
        width: 68%;
        border-right: 1px solid white;
        min-width: 710px; }
        @media (max-width: 1260px) {
          #mainContent #indexCard div#mainTitle {
            border-right: none;
            width: 100%; } }
        #mainContent #indexCard div#mainTitle p {
          font-size: 40px; }
          #mainContent #indexCard div#mainTitle p#firstTitle {
            font-size: 9.4em; }
          #mainContent #indexCard div#mainTitle p#secondTitle {
            font-size: 4.85em; }
      #mainContent #indexCard div#login {
        float: right;
        position: relative;
        top: 162px; }
        #mainContent #indexCard div#login > p {
          font-size: 32px; }
        @media (max-width: 1260px) {
          #mainContent #indexCard div#login {
            width: 100%;
            float: none;
            top: 100px; } }
        #mainContent #indexCard div#login paper-button {
          padding: 10px;
          height: 45px;
          width: 130px;
          background: white;
          color: black; }
          #mainContent #indexCard div#login paper-button > p {
            font-size: 22px; }
